@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
  --color-main-background: #f9fafb;
  --color-panel-border: #d4d4d8;
  --color-overlay-background: #999a9b88;
  --color-separator-line: #d4d4d888;
  --color-query-solid: #22c55e;
  --color-query-bg: #f0fdf4;
  --color-query-bg-dark: #dcfce7;
  --color-query-text: #16a34a;
  --color-mutation-solid: #3b82f6;
  --color-mutation-bg: #eff6ff;
  --color-mutation-text: #2563eb;
  --color-mutation-bg-dark: #dbeafe;
  --color-router-solid: #8b5cf6;
  --color-router-bg: #faf5ffaa;
  --color-router-bg-dark: #f3e8ff;
  --color-router-text: #9333ea;
  --color-subscription-solid: #f34213;
  --color-subscription-bg: #fef0ec;
  --color-subscription-bg-dark: #fcd1c5;
  --color-subscription-text: #e93c0c;
  --color-neutral-solid: #52525b;
  --color-neutral-solid-transparent: #64748b;
  --color-selected-list-item: #063352;
  --color-neutral-bg: #f1f5f922;
  --color-neutral-bg-dark: #e2e8f0;
  --color-neutral-bg-very-dark: #3f3f46;
  --color-neutral-text: #0f172a;
  --color-light: #f8fafc;
  --color-white: #fcfcfc;
  --color-white-transparent: #ffffff77;
  --color-white-less-transparent: #ffffffcc;
  --color-actually-white: #ffffff;
  --color-error: #ef4444;
}
